body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.topbar {
    background: #01411c;
    color: white;
    padding: 8px;
    text-align: right;
    font-size: 14px;
}

.navbar {
    background: #026440;
    padding: 15px;
    position: sticky;
    top: 0;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.hero {
    background: #e6f2ec;
    padding: 60px;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn {
    background: #01411c;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #026440;
}

footer {
    background: #01411c;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar a {
        display: block;
        margin: 10px 0;
    }
}


/* Urdu Section */
#urdu-content {
display: none;
direction: rtl;
text-align: right;
background: #f8f9fa;
padding: 20px;
border-radius: 8px;
}

.language-toggle {
margin: 20px 0;
text-align: center;
}

.language-toggle button {
padding: 8px 15px;
margin: 5px;
border: none;
background: #006600;
color: white;
cursor: pointer;
border-radius: 5px;
}

.language-toggle button:hover {
background: #004d00;
}